$white: #fff;
$red: #a50000;
$body-color: #5de6de;
$body-gradient: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
$wrapper-color: #045de9;
$wrapper-gradient: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
$wrapper-shadow: #2f76e7;
$col: #0eb8e7;